.podcast{
   
   
}
.podcast-content{
    padding-left:20px;
    margin-top: 60px;
}
.podcast-content-albums{
    display: flex;
}
.podcast-content-categories{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}
.podcast-header{
    font-size:130px;
    color: #fff;
    letter-spacing: -2px;
    font-weight: bold;
    background: linear-gradient(to bottom, #236E59,#174639) ;
    padding: 30px 0px 28px 25px;
    box-shadow: 2px 40px 150px 40px rgba(19, 62, 51, 0.9);
}
.podcast-content-headings{
    color: #fff;
    font-size:32px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 13px;
}