.player{
    display: flex;
    background: linear-gradient(to right,#a43aa5 30%,#6483e4 60% );
    justify-content: space-between;
    align-items: center;
    padding:15px 25px;
    margin: 0 10px 10px 10px;
}
.player-preview-line1,.player-preview-line2{
    display: flex;
    justify-content: left;
    margin:0;
}
.player-preview{
    display: flex;
    flex-direction: column;

}
.player-preview-line1{
    color: #fff;
    font-size:17px;
    font-weight: bold;
}
.player-preview-line2{
    color: #fff;
    font-size:20px;
}
.player-signup{
    color: black;
    font-size:20px;
    font-weight: bold;
    background-color:#fff;
    padding: 15px 35px;
    border-radius:50px;
    cursor: pointer;
}
.player-signup:hover{
    scale: 1.05;
}
.player-signup-one{
    text-decoration: none;
}
.songplayer{
    background:transparent;
    margin: 0 10px 10px 10px;
    display: flex;
    padding: 7px 5px ;
    justify-content: space-between;
    align-items: center;
}
.songplayer-leftpart{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 20%;
    
}
.songplayer-leftpart img{
    width: 70px;
    border-radius: 6px;
    
}
.songplayer-leftpart-artistinfo{
    display: flex;
    flex-direction:column;
}
.sonplayer-songname{
    color: #fff;
    font-weight: bold;
}
.sonplayer-songname:hover{
    cursor: pointer;
    text-decoration: underline;
}
.sonplayer-artistname{
    color: #ccc9c9;
}
.sonplayer-artistname:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
}
.songplayer-addtoplaylist{
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100%;
    padding: 0px 5px 4px 5px;
}
.sonplayer-leftpart-plussign{
    color: #dad3d3;
    border: 1px solid #fff;
    font-weight: bold;
    border-radius: 100%;
    padding: 4px;
    font-size: 10px;
}
.sonplayer-leftpart-plussign:hover{
    scale: 1.05;
    transition: all 0.2 ease-in-out;
    cursor: pointer;
    color: #fff;
}
.songplayer-midpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 8px;
}
.songplayer-midpart-controls{
    display: flex;
    gap:25px;
    align-items: center;
}
/* .songplayer-midpart-songlength{
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .songplayer-midpart-controls{
    gap:25px;
    align-items: center;
} */
.songplayer-midpart-leftbutton{
    display: flex;
    align-items: center;
    /* margin-right: ; */
}
.songplayer-midpart-rect{
   
    width: 4px;
    height: 18px;
    background-color: #dcd8d8;
    border-radius: 50px;
    margin-right:1px;
}
.songplayer-controls-buttons{
    color: #dcd8d8;
    font-size: 21px;
    transition: 0.8ms all ease-in-out;
}
.songplayer-controls-buttons:hover{
    scale: 1.08;
    cursor: pointer;
    color: white;
}
.songplayer-controls-buttons.mainbutton{
    color: #fff;
    font-size: 42px ;
}
.songplayer-controls-buttons.mainbutton:hover{
    color:#f9f3f3 ;
}
.songplayer-control-buttons.navigate{
    font-size: 30px;
    color: #dcd8d8;
    /* font-size: 21px; */
    transition: 0.8ms all ease-in-out;
    /* width: 25px; */
}
.songplayer-midpart-leftbutton:hover{
    scale: 1.08;
    cursor: pointer;
    color: white;
}
.songplayer-midpart-songlength{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:11px;
}
.songplayer-midpart-songcompleted,
.songplayer-midpart-totalsonglength{
    color: #dcd8d8;
}
.songplayer-midpart-part{
 width: 85%;
 height: 4px;
 background-color: #9f9b9b6d;
 border-radius: 100px;
}
.songplayer-midpart-partcompleted{
    width: 30%;
    height: 4px;
    background-color: #fff;
    border-radius: 100px ;
}
.songplayer-rightpart{
    display: flex;
    align-items: center;
    width: 20%;
    gap: 19px;
    margin-right: 10px;
}
.songplayer-rightbuttons{
    font-size:19px;
    color: #dcd8d8;
    transition: all 0.5ms;
}
.songplayer-rightbuttons.nowplaying{
    font-size: 8px;
    border: 2px solid #dcd8d8;
    padding: 4px;
    /* color: green; */
}
.songplayer-rightpart-volumebar{
    width: 30%;
    height: 5px;
    background-color:#c4bebe ;
    border-radius: 100px;
}
.songplayer-rightbuttons:hover{
    color: white;
    scale: 1.05;
    cursor: pointer;
}
